<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="14.63.165.36_Connection" connectionString="XpoProvider=MySql;server=14.63.165.36;port=30201;user id=; password=; database=;persist security info=true;CharSet=utf8;" />
        <add name="14.63.165.36_Connection 1" connectionString="XpoProvider=MySql;server=14.63.165.36;port=30201;user id=doma; password=@dhkdldpf9!; database=;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>